:root {
    --primary:#2b123d;
    --secondary:#ff0062b6;
    --card:#ff00624f;
    --glow:#f2ff00;
    --hText:#ffe100;
    --text:#fff494;
}
body {
  margin: 0;
  font-family: "Quantico", sans-serif;
  font-weight: 600;
  background: var(--primary);
  color: var(--text);
  padding-bottom: 25px;
}

header {
  background: linear-gradient(to top, var(--primary), var(--secondary), var(--primary));
  padding: 1px 0px;
  /* margin: 0%; */
  text-align: center;
}

header h1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-size: 70px;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
}

section {
  padding: 0px 40px;
  max-width: 2000px;
  margin: 0 auto;
}

h2 {
    background: radial-gradient(var(--secondary),var(--primary));
    text-align: center;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-size: 40px;
    font-style: normal;
    font-variation-settings:
        "EDPT" 0,
        "EHLT" 0;
}

.my-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/driftimage.png");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  font-size: 18px;
  margin-top: 0px;
}

.project {
  background: var(--card);
  padding: 20px;
  border-radius: 38px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--glow);
}

.project h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--hText);
  font-weight: 600;
  font-size: 35px;
}

.contact {
  text-align: center;
  font-size: large;
  line-height: 120%;
}

.contact a {
  display: inline-block;
  margin-top: 0px;
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
}

.contact {
  text-align: centre;
  text-decoration:none; 
  color:inherit;
  /* padding-left: 30%; */
  display: block;
}
.normal {
  size: 10px;
  padding: 10px;
}

.column {
  float: left;
  /* width: 60%; */
}
.column2 {
  padding-left: 0%;
  float: left;
  /* width: 30%; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}